<template name="ClubCreate">
  <div class="club-create container">
    <div id="nav" class="row">
        <div class="col-sm-6">
            <h1>Create New Club</h1>
        </div>
        <div id="menu-items" class="col-sm-5">
            {{#if currentUser}}
                <a href="{{pathFor route="myUserProfile"}}"><h2>Profile</h2></a>       
            {{else}}
                {{> loginButtons}}
            {{/if}}
        </div>
    </div>
    <div class="row long-block">
        {{> quickForm collection="Clubs" id="insertClubForm" type="insert" buttonContent="Create" omitFields="owners,members"}}
    </div> 
  </div>
</template>
