<template name="ClubList">
  <div class="club-list container">
    <div id="nav" class="row">
        <div class="col-xs-2">
            <h1>Clubs</h1>
        </div>
        <div id="menu-items" class="col-xs-9">
            {{#if currentUser}}
                <a href=""><h2>Profile</h2></a> 
                <a href="{{pathFor route="clubCreate"}}"><h2>Create Club</h2></a>        
            {{else}}
                {{> loginButtons}}
            {{/if}}
        </div>
    </div>
    <div class="row">
        {{#each clubs}}
        <div class="long-block">
            <div id="club-name">
                <h3>{{#linkTo route="clubDashboard"}}{{name}}{{/linkTo}}</h3>
            </div>
            <div id="club-details">
                <h3>{{pluralize memberCount "Player"}}</h3>
                <h3>Join</h3>
            </div>
        </div>
        {{/each}}
    </div>
  </div>
</template>
