<template name="UserProfileEdit">
  <div class="user-profile-edit container">
    <h1>Edit Account: {{profile.name}}</h1>

    {{#autoForm doc=this collection="Meteor.users" id="userProfile" type="update"}}
    <fieldset>
      {{> afQuickField name="username"}}
      {{> afQuickField name="emails.0.address" label="Email Address"}}
      {{> afQuickField name="profile.name"}}
      {{> afQuickField name="profile.image"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
    {{/autoForm}}
  </div>
</template>
