<template name="Match">
  <div class="match container">
    <div id="nav" class="row">
      <div class="col-sm-6">
          <a href="{{pathFor route="clubList"}}"><h1>Match</h1></a>
      </div>
      <div id="menu-items" class="col-sm-5">
            {{#if currentUser}}
                <a href="{{pathFor route="myUserProfile"}}"><h2>Profile</h2></a>
                {{#if isEquals status "active"}}
                <a href="" class="pause"><h2>Pause</h2></a>
                {{/if}}
                {{#if isEquals status "paused"}}
                <a href="" class="resume"><h2>Resume</h2></a>
                {{/if}}
            {{else}}
                {{> loginButtons}}
            {{/if}}
        </div>
    </div>
    <div id="club-dashboard-content" class="row">
      <div class="col-sm-5">
        <div class="member-profile">
            <div class="col-sm-5 media user-profile-image"><img src="{{players.[0].profile.image.url}}"></div>
            <div class="col-sm-7"><h3>{{players.[0].profile.name}}</h3><h4>{{numberizer players.[0].membership.rank}} place ({{players.[0].membership.rating}})</h4></div>
        </div>
      </div>
      <div class="col-sm-2">
          <div id="vs-circle"><h4>vs.</h4></div>
      </div>
      <div class="col-sm-5">
        <div class="member-profile">
            <div class="col-sm-5 media user-profile-image"><img src="{{players.[1].profile.image.url}}"></div>
            <div class="col-sm-7"><h3>{{players.[1].profile.name}}</h3><h4>{{numberizer players.[1].membership.rank}} place ({{players.[1].membership.rating}})</h4></div>
        </div>
      </div>        
    </div>
    <div class="col-sm-6 col-sm-offset-3">  
            <div class="leaderboard container">
              <h2>Game Results</h2>
                
                <div id="game-list" class="text-center">
                  {{#each games}}
                  <div class="row">
                    <div class="col-xs-3">{{players.[0].score}}</div>
                    <div class="col-xs-6"><h3>Game {{index}}</h3></div>
                    <div class="col-xs-3">{{players.[1].score}}</div>
                  </div>
                  {{/each}}
                  {{#if isEquals status 'active'}}
                  {{#autoForm id="addGame" type="insert" collection="Games"}}
                    <div class="row">
                      <div class="col-xs-3">
                        {{>afQuickField name="players.0.score" label=false}}
                      </div>
                      <div class="col-xs-6">
                        <h4><button type="submit" class="btn">Add Game</button></h4>
                      </div>
                      <div class="col-xs-3">
                        {{>afQuickField name="players.1.score" label=false}}
                      </div>
                    </div>
                  {{/autoForm}}
                  <h4><a href="" class="submit-match">Submit Results</a></h4>
                  {{else}}
                    <h4>{{#linkTo route='clubDashboard' data=club}}Return to Club{{/linkTo}}</h4>
                  {{/if}}

                </div>
            </div>
    </div>
  </div>
</template>
