@import '{reywood:bootstrap3-sass}/bootstrap';

=mq($breakpoint)
  $mq-xs: "(max-width: 767px)"
  $mq-sm: "(min-width: 768px)"
  $mq-md: "(min-width: 992px)"
  $mq-lg: "(min-width: 1200px)"
  @if $breakpoint == xs
    @media #{$mq-xs}
      @content
  @else if $breakpoint == sm
    @media #{$mq-sm}
      @content
  @else if $breakpoint == md
    @media #{$mq-md}
      @content
  @else if $breakpoint == lg
    @media #{$mq-lg}
      @content

$black: #292930
$white: #FCFCFC
$blue: #439AE3
    
html
    min-height: 100%

body
    background: -moz-linear-gradient(-45deg, #eb7daf 0%, #439be3 100%)
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #eb7daf), color-stop(100%, #439be3))
    background: -webkit-linear-gradient(-45deg, #eb7daf 0%, #439be3 100%)
    background: -o-linear-gradient(-45deg, #eb7daf 0%, #439be3 100%)
    background: -ms-linear-gradient(-45deg, #eb7daf 0%, #439be3 100%)
    background: linear-gradient(135deg, #eb7daf 0%, #439be3 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb7daf', endColorstr='#439be3', GradientType=1 )
    background-size: cover
    font-family: 'Josefin Sans', sans-serif
    color: $white
    
h1
    font-weight: 500
    letter-spacing: 2px
    font-size: 2em
    @include mq(sm)
        font-size: 3em
        
h2
    font-weight: 300
    font-size: 1.25em
    @include mq(sm)
        font-size: 2em

h3
    font-weight: 300
    font-size: 1.2em
    @include mq(sm)
        font-size: 1.9em
    
a
    text-decoration: none
    color: $white
    &:hover, &:focus
        text-decoration: none
        color: darken($white, 20%)

.container
    @include mq(sm)
        max-width: 80% !important    

#nav
    background-color: #292930
    border-radius: 5px
    margin-top: 5em
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3)
    text-align: center
    h1
        @include mq(sm)
            margin-left: 13%
            text-align: left
    
#menu-items 
    a
        text-align: center
        @include mq(sm)
            text-align: none
            float: right
            margin-left: 3em
            margin-top: .5em
            
#login-dropdown-list
    list-style-type: none
    font-size: 1.25em
    font-weight: 200
    a
        margin: 0
    @include mq(sm)
        display: inline-block
        margin-top: 1em
        float: right
        font-size: 1.7em
    
.block            
    background-color: $white
    border-radius: 5px
    color: $black
    margin-top: 2em
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3)
    -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3)
    -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3)
    min-height: 57px
    
    > h2
      text-align: center
      font-weight: 600
      padding-top: 1em
    
.long-block
    @extend .block
    form
        margin: 2em
    label
        font-size: 2em
    button
        font-size: 1.25em
        background-color: $blue
        border: none
        color: $white
    a
        color: $black
    h3
        display: inline-block
    @include mq(sm)
        min-height: 65px
        form
            margin: 2em 7em 2em 6em

#club-name
    float: left
    margin-left: 8%
    h3
      font-weight: 700  

#club-details
    float: right
    margin-right: 10%
    h3:first-child
        margin-right: 1.5em
    
.leaderboard
    @extend .block
    h2
        text-align: center
        font-weight: 600
        padding-top: 1em
        @include mq(sm)
            font-size: 1.25em
        @include mq(md)
            font-size: 1.5em
        @include mq(lg)
            font-size: 2em
    h4
        text-align: center
        font-weight: 600
        font-size: 1.5em
        padding-bottom: 1em
    ul
        list-style-type: none
        font-size: 1.5em
        padding-bottom: 1em
        a
            color: $black

.member-profile
    @extend .leaderboard
    display: inline-flex
    width: 100%
    h3
        margin-bottom: 0
        margin-top: 1.25em
        font-weight: 700
    h4
        float: left
        margin-top: 0
        font-weight: 400

.not-a-member-profile
    @extend .block   
    h3
        display: inline-block
        margin-left: 1.3em
        font-weight: 500
        &:last-child a
            color: #E95A3C

.user-profile-image
    margin: 0 .5em
    position: relative
    top: -1em
    img
        max-width: 120px
        box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3)
        -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3)
        -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3)
            
#club-dashboard-content
    padding: 0
    margin: 0 -30px
    
#leaderboard-players
    margin: 0
    padding-bottom: 1em
    div
        text-align: center
        padding: 0
        margin: 0 auto
        &:first-child h3
            font-weight: 700
        &:last-child a
            color: #E95A3C
            
.pending-members
    ul
        list-style-type: none
        padding: 0
        li
            font-size: 1.5em
            padding: 1em
            a
              cursor: pointer

.recent-matches
    @extend .leaderboard
    h3:first-child
        margin-left: 13%
            
.alert
    position: fixed
    top: 0
    z-index: 2
    width: 100%
