<template name="ClubDashboard">
  <div class="club-dashboard container">
    <div id="nav" class="row">
      <div class="col-sm-6">
          {{#linkTo route="clubList"}}<h1>{{club.name}}</h1>{{/linkTo}}
      </div>
      <div id="menu-items" class="col-sm-5">
            {{#if currentUser}}
                <a href="{{pathFor route="myUserProfile"}}"><h2>Profile</h2></a>       
            {{else}}
                {{> loginButtons}}
            {{/if}}
      </div>
    </div>
    <div id="club-dashboard-content" class="row">
      <div class="col-sm-7">
        {{#with me}}
        <div class="member-profile">
            <div class="col-sm-3 media user-profile-image"><img src="{{image.url}}"></div>
            <div class="col-sm-7"><h3>{{profile.name}}</h3><h4>{{numberizer rank}} place</h4></div>
            <div class="col-sm-2"><h3>{{rating}}</h3><h4>points</h4></div>
        </div>
        {{else}}
        <div class="not-a-member-profile">
          <h3>You are not a member of this club.</h3>
          <h3><a href="{{pathFor route="myUserProfile"}}">Join</a></h3>
        </div>
        {{/with}}
        <div class="leaderboard">
          <h2>Leaderboard</h2>
            {{#each leaders}}
            <div id="leaderboard-players" class="row">
              <div class="col-xs-2"><h3>{{rank}}</h3></div>
              <div class="col-xs-4"><h3>{{profile.name}}</h3></div>
              <div class="col-xs-2"><h3>{{rating}}</h3></div>
              <div class="col-xs-4"><h3><a href="">Challenge</a></h3></div>
            </div>
            {{/each}}
        </div>
      </div>
      <div class="col-sm-5">
          <div class="recent-matches">
            <h2>Recent Matches</h2>
            <div class="recent-matches-list row">
              <div class="col-xs-5"><h3>Oct. {{numberizer 12}}</h3></div>
              <div class="col-xs-7"><h3>Nick beat Bryan</h3></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>
