<template name="ClubDashboard">
  <div class="club-dashboard container">
    <div id="nav" class="row">
      <div class="col-sm-6">
          {{#linkTo route="clubList"}}<h1>{{club.name}}</h1>{{/linkTo}}
      </div>
      <div id="menu-items" class="col-sm-5">
            {{#if currentUser}}
                <a href="{{pathFor route="myUserProfile"}}"><h2>Profile</h2></a>       
            {{else}}
                {{> loginButtons}}
            {{/if}}
      </div>
    </div>
    <div id="club-dashboard-content" class="row">
      <div class="col-sm-7">
        {{#if currentUser}}
        {{#with me}}
        <div class="member-profile">
            <div class="col-sm-3 media user-profile-image"><img src="{{image.url}}"></div>
            <div class="col-sm-7"><h3>{{profile.name}}</h3><h4>{{numberizer rank}} place</h4></div>
            <div class="col-sm-2"><h3>{{rating}}</h3><h4>points</h4></div>
        </div>
        {{else}}
        <div class="not-a-member-profile">
          <h3>You are not a member of this club.</h3>
          {{#with ../club}}
          {{#unless isMember}}
            {{#if isPending}}
              <h3>pending</h3>
            {{else}}
              <h3><button class="join">Join</button></h3>
            {{/if}}
          {{/unless}}
          {{/with}}
        </div>
        {{/with}}
        {{/if}}
        <div class="leaderboard">
          <h2>Leaderboard</h2>
            {{#each leaders}}
            <div id="leaderboard-players" class="row">
              <div class="col-xs-2"><h3>{{rank}}</h3></div>
              <div class="col-xs-4"><h3>{{profile.name}}</h3></div>
              <div class="col-xs-2"><h3>{{rating}}</h3></div>
              {{#unless isEquals this.user currentUser._id}}
              {{#if isMember ../club}}
                {{#if isChallengePending}}
                  <div class="col-xs-4"><h3>Pending</h3></div>
                {{else}}
                  <div class="col-xs-4"><h3><a href="" class="challenge">Challenge</a></h3></div>
                {{/if}}
              {{/if}}
              {{/unless}}
            </div>
            {{/each}}
        </div>
      </div>
      <div class="col-sm-5">
          {{#if isClubOwner club}}
          {{#with pendingMemberRequests}}
            <div class="pending-members block">
              <h2>Pending Members</h2>
              <ul>
              {{#each .}}
              <li>
                {{member.profile.name}}
                <a class="accept text-success"><i class="glyphicon glyphicon-ok"></i></a>
                <a class="reject text-danger"><i class="glyphicon glyphicon-remove"></i></a>
              </li>
              {{/each}}
              </ul>
            </div>
          {{/with}}
          {{/if}}
          <div class="recent-matches">
            <h2>Recent Matches</h2>
            {{#each recentMatches}}
            <div class="recent-matches-list row">
              <div class="col-xs-5"><h3>{{dateFormat completedAt}}</h3></div>
              <div class="col-xs-7"><h3>
                  {{#if winner}}
                  {{winner}} beat {{loser}}
                  {{else}}
                  {{players.[0].profile.name}} tied {{players.[1].profile.name}}
                  {{/if}}
              </h3></div>
            </div>
            {{else}}
                <p class="text-center"> No recent matches. </p>
            {{/each}}
          </div>
      </div>
    </div>
  </div>
</template>
