<template name="ClubDashboard">
  <div class="club-dashboard container">
    <div id="nav" class="row">
      <div class="col-sm-6">
          <h1>{{club.name}}</h1>
      </div>
      <div id="menu-items" class="col-sm-5">
            {{#if currentUser}}
                <a href="{{pathFor route="myUserProfile"}}"><h2>Profile</h2></a> 
                <a href=""><h2>Invite Players</h2></a>        
            {{else}}
                {{> loginButtons}}
            {{/if}}
      </div>
    </div>
    <div id="club-dashboard-content" class="row">
      <div class="col-sm-7">
        {{#with me}}
        <div class="member-profile">
          <h3>{{profile.name}}</h3>
          <h3>{{rating}}</h3>
        </div>
        {{/with}}
        <div class="leaderboard">
          <h2>Leaderboard</h2>
            {{#each leaders}}
            <div id="leaderboard-players" class="row">
              <div class="col-xs-2"><h3>{{rank}}</h3></div>
              <div class="col-xs-4"><h3>{{profile.name}}</h3></div>
              <div class="col-xs-2"><h3>{{rating}}</h3></div>
              <div class="col-xs-4"><h3><a href="">Challenge</a></h3></div>
            </div>
            {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
